@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #222;
}

.container {
    background-color: #414040;
    padding: 35px;

    max-width: 350px;   
    width: 90%;
    
    
    margin: 20px auto; 

    border: 3px solid #000;
    border-radius: 15px;
    border-style: groove;
}


header{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

header h1{
    color: #ffffff;
}

#pantalla{
    background-color: #ffffff;
    display: flex;
    justify-content:flex-end;
    font-size: 30px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}


aside{
    float: right;
    width: 30px;
    height: 20px;
    padding: 20px;
}

.btn{
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 90px;
    color: #ffffff;
    background-color: #f78708;
    margin-bottom: 10px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

.btn:hover{
    background-color: transparent;
    color: #f78708;
}

.btn:active{
    background-color: #ffffff;
}

#func-num {
  display: grid; /*display para agregar filas */
  grid-template-columns: repeat(3, 1fr); /* Funcion para agregarlos por fila */
  gap: 10px; /* Tamaño de las filas*/
}

.btn-num {
    margin-top: 30px;
  font-size: 30px;
  height: 60px;

  border: 2px solid black;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-num:hover{
    background-color: transparent;
    color: #ffffff;
}

.btn-num:active{
    background-color: #ffffff;
    color: #000000;
}

.btn-resul {
    margin-top: 30px;
  font-size: 30px;
  height: 60px;

  border: 2px solid black;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-resul:hover{
    background-color: transparent;
    color: #ffffff;
}

.btn-resul:active{
    background-color: #ffffff;
    color: #000000;
}

.clearfix{
    clear: both;
}
